:root {
  --button-color: #396abf;
  --button-hover: #2353a5;
  --button-text: #ffffffe0;
  --header-color: var(--button-color);
  --header-text: var(--button-text);
  --splash-color: #fff6dd;
  --card-roundness: 0.5rem;
  --card-text: #000;
  --card-background: url('/images/paper.jpg');
  --card-username: #fff7;
  background: #dbd0b4;
}