:root {
  --header-color: #4a9964;
  --header-text: white;
  --button-color: #8dc4a0;
  --button-hover: #638d72;
  --button-text: #224422;
  --card-roundness: 0.5rem;
  --card-text: #224422;
  --card-color: #dddedd;
  --card-username: #888;
  background: #445444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-text: rgba(255, 255, 255, 0.87);
    --card-color: #393d39;
    --card-username: #aaa;
    background: #1e251e;
  }
}
