:root {
  --button-color: #396abf;
  --button-hover: #2353a5;
  --button-text: #ffffffe0;
  --header-color: var(--button-color);
  --header-text: var(--button-text);
  --card-roundness: 0.5rem;
  --card-text: #06182b;
  --card-color: #ffffff;
  --card-username: #06182b77;
  background: #c9cbd0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-text: rgba(255, 255, 255, 0.87);
    --card-color: #272a2e;
    --card-username: #fff7;
    background: #19191a;
  }
}
